@import "../../styles/vars.scss";

.action__link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;

    span {
        color: black;
        margin-left: 20px;
        font-size: 18px;
        text-transform: capitalize;
        font-family: $fontRoboto;
        font-weight: 400;
    }

    &.dark span {
        color: black;
    }

    &.red span {
        color: $font-red;
    }
}