@import "../../styles/vars.scss";

.auth__link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-family: $fontRosario;
    font-weight: bold;
    transition: color .4s ease 0s;
    display: flex;
    align-items: center;

    &:hover {
        color: $font-red;
    }
}