@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rosario:wght@700&family=Rowdies&display=swap');

//fonts
$font-red: #FF4F5A;
$font-gray: #6b6b6b;
$light_gray: #EAEAEA;
$fontRoboto: 'Roboto', sans-serif;
$fontRosario: "Rosario", sans-serif;
$fontRowdies: "Rowdies", sans-serif;
//size
$container-width: 1146px;
$mobile: 360px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$todo: 1090px;